<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Eddy's Travel App</title>
</head>

<body>
    <div class="container" id="container">
        <div class="header" id="header">
            <header>
                <h1>Eddy's Travel App</h1>
            </header>
        </div>

        <div class="input">
            <div class="input-group">
                <label for="destination-text-input">Enter City here</label>
                <input type="text" id="destination-text-input" placeholder="enter your destination here">
            </div>
            <div class="input-group">
                <label for="start-date-select">Select start date</label>
                <input type="date" id="start-date-select">
            </div>
            <div class="input-group">
                <label for="end-date-select">Select end date</label>
                <input type="date" id="end-date-select">
            </div>
            <div class="input-group" id="select-input-group">
                <label for="country">Select country</label>
                <select name="destination-select" id="destination-select">
                    <option value=""></option>
                </select>
            </div>
            <div class="input-group">
                <button id="ok" type="submit">Add destination to your trip</button>
                <button id="cancel" type="submit">Cancel</button>
            </div>
        </div>

        <div id="card-template">
            <article class="card-template">
                <header></header>
                <img src="" alt="">
                <section></section>
                <footer>
                    <h3></h3>
                    <button class="delete-button">Delete</button>
                </footer>
            </article>
        </div>

        <div class="main" id="main">
        </div>

        <div class="footer" id="footer">
            <h3>made by Edd Crossman - March 2023</h3>
        </div>
    </div>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>